$default-color: #fff;
$white-color: rgba(255, 255, 255, 0.7);
$light-color: #f4f4f4;
$font-stack: "Poppins", sans-serif;
$font-montserrate: "Montserrat", sans-serif;
$font-Ant: "Zen Dots", cursive;
$text-color: #20292f;
$text-color-2: #20292f6c;
$text-color-3: #20292f05;
$text-color-4: #20292faf;
$primary-color: #0e6cff;
$secondary-color: #b16e2f;
$light-secondary-color: #d39255;
$box-shadow-1: #4b474726;
// $box-shadow-2: #00000f;
